body {
  font-family: 'Assistant', sans-serif !important;
  background-color: white;
  color: #000061;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  z-index: 1000;
}

.navbar-brand img {
  height: 40px;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #071c4d !important;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Poppins' !important;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  font-weight: 600;
}

.navbar .btn-login {
  background-color: #0d0d4d;
  color: #fff !important;
}

.navbar .btn-login:hover {
  background-color: #2a2a96;
  color: #fff !important;
}

.navbar .btn-navbar-right {
  margin-top: -12px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.jumbotron {
  padding: 180px 0 160px;
  color: #fff;
  width: 100%;
  height: 80vh;
  margin-top: -67px;
}

.jumbotron h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

.jumbotron p {
  font-size: 22px;
}

.jumbotron .btn-get-started {
  background-color: #f7ab1e;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
}

.jumbotron .btn-get-started:hover {
  background-color: #fcbb42;
}

.jumbotron img {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    width: 100% !important;
  }
  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px !important;
  }
  p {
    font-size: 20px !important;
  }
  .sec-stats .stats-detail {
    padding-top: 15px;
    background-color: #fff;
    padding-left: 40px;
  }
  .sec-stats .stats-detail h2 {
    font-size: 20px !important;
    margin-bottom: 0;
  }
  .sec-stats .stats-detail p {
    font-size: 12px !important;
  }
  .section-partner .partner-text {
    text-align: center;
  }
  .section-partner .partner-logo .row .img-partner {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .details-header {
    background-color: #d8d8d8;
    width: 100%;
    height: 240px;
    margin-top: -70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 120px 0 0 30px !important;
  }
  .details-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50% !important;
  }
  .details-header ul li a {
    color: #707070;
  }
  .details-package-content h1 {
    font-size: 20px !important;
  }
  .details-package-content p {
    font-size: 14px !important;
  }
}

.sec-stats {
  margin-top: -80px;
}

.sec-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
  text-align: center;
}

.sec-stats .stats-detail h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.sec-stats .stats-detail p {
  font-size: 20px;
}

.section-popular {
  width: 100%;
  height: 540px;
  margin-top: -50px;
  background-color: #00003b;
  color: #fff;
  padding-top: 150px;
}

.section-popular h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.section-popular p {
  margin-bottom: 0;
  font-size: 18px;
}

.section-popular-content .details-wisata-popular {
  margin-top: -250px;
}

.section-popular-content .details-wisata-popular .card-travel {
  height: 380px;
  width: 100% !important;
  padding-top: 30px;
  margin-top: 20px;
  position: relative;
  padding-bottom: 20px;
  background-color: #ddd;
}

.section-popular-content .details-wisata-popular .card-travel .travel-country {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  z-index: 10;
}

.section-popular-content .details-wisata-popular .card-travel .travel-tujuan {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  z-index: 10;
}

.section-popular-content .details-wisata-popular .card-travel .button {
  z-index: 10;
}

.section-popular-content .details-wisata-popular .card-travel .button .btn-card {
  background-color: #ffb429;
  color: #fff;
  width: 60%;
}

.section-popular-content .details-wisata-popular .card-travel .button .btn-card:hover {
  background-color: #ffc55b;
  color: #fff;
}

.section-partner .section-partner-details {
  margin-top: 40px;
}

.section-partner .section-partner-details .partner-text h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Playfair Display';
}

.section-partner .section-partner-details .partner-text p {
  font-size: 20px;
  margin-bottom: 0;
}

.section-partner .section-partner-details .partner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-partner .section-partner-details .partner-logo img {
  width: 150px;
}

.section-testi {
  width: 100%;
  height: 540px;
  text-align: center;
  margin-top: 40px;
}

.section-testi h2 {
  font-family: 'Playfair Display';
  font-size: 30px;
  font-weight: bold;
}

.section-testi p {
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 0;
}

.section-testi .section-bg {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  background-color: #dfdff8;
}

.section-testi-content .section-testi-details {
  margin-top: -400px;
}

.section-testi-content .section-testi-details .testi-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-testi-content .section-testi-details .testi-detail .card-testi {
  border: 1px solid #ddd;
  padding: 20px;
  height: 400px;
  width: 90%;
  margin-top: 20px;
  background-color: #f3f3f3;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  text-align: center !important;
}

.section-testi-content .section-testi-details .testi-detail .card-testi .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-testi-content .section-testi-details .testi-detail .card-testi h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.section-testi-content .section-testi-details .testi-detail .card-testi blockquote {
  font-size: 16px;
  font-weight: lighter;
  color: #6e6e6e !important;
}

.section-testi-content .section-testi-details .testi-detail .card-testi blockquote::before {
  content: '"';
  font-size: 20px;
  margin-right: 3px;
}

.section-testi-content .section-testi-details .testi-detail .card-testi blockquote::after {
  content: '"';
  font-size: 20px;
  margin-left: 3px;
}

.section-testi-content .section-testi-details .testi-detail .card-testi .card-footer {
  background-color: #f3f3f3 !important;
}

.button-bawah .btn-need-help {
  background-color: #e4e3e3 !important;
}

.details-header {
  background-color: #d8d8d8;
  width: 100%;
  height: 240px;
  margin-top: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0 0 135px;
}

.details-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

.details-header ul li a {
  color: #707070;
}

.details-package-content .detail-left {
  padding: 20px;
  border-radius: 11px;
  margin-top: -70px;
  background-color: #fff;
}

.details-package-content .detail-left h1 {
  font-size: 26px;
}

.details-package-content .detail-left p {
  font-size: 18px;
  color: #4e4e4e;
}

.details-package-content .detail-left h2 {
  font-size: 22px;
}

.details-package-content .detail-left .gallery .xzoom-container {
  display: block;
}

.details-package-content .detail-left .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 300px;
  display: block;
  margin-bottom: 10px;
  background-size: cover;
}

.details-package-content .detail-left .gallery .xzoom-container .xactive {
  border: 4px solid #1abc9c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.details-package-content .detail-left .gallery .xzoom-gallery {
  height: 100px !important;
}

.details-package-content .detail-left .features {
  width: 100%;
}

.details-package-content .detail-left .features h3 {
  font-size: 16px !important;
  margin-bottom: 0;
}

.details-package-content .detail-left .features p {
  margin-bottom: 0;
  font-size: 14px !important;
}

.details-package-content .detail-left .features .description {
  float: left;
  margin-left: 10px !important;
  overflow: hidden;
}

.details-package-content .detail-left .features img {
  width: 45px;
  height: 45px;
  float: left;
}

.details-package-content .card-right {
  padding: 20px;
  border-radius: 11px;
  background-color: #fff;
  margin-top: -70px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.details-package-content .card-right h2 {
  font-size: 22px;
}

.details-package-content .join-container {
  display: block;
  margin-top: -16px;
}

.details-package-content .join-container .btn-join-now {
  background-color: orange;
  border-radius: 0;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .details-header {
    background-color: #d8d8d8;
    width: 100%;
    height: 240px;
    margin-top: -70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 120px 0 0 130px;
  }
  .details-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
  }
  .details-header ul li a {
    color: #707070;
  }
  .details-package-content .card-right {
    margin-top: 20px;
    width: 100%;
  }
}

.navbar .navbar-content .navbar-content-detail {
  padding-left: 40px;
}

.navbar .navbar-content .navbar-content-detail h2 {
  font-size: 18px;
  width: 100%;
  color: silver;
}

.navb {
  width: 100%;
  height: 300px !important;
  margin-top: 20px;
  background-color: #cacaca !important;
  margin-top: -100px;
}

.navb .breadcrumb {
  background-color: #cacaca !important;
  position: relative;
  top: 130px;
}

.navb .breadcrumb .breadcrumb-item a {
  color: #949494;
}

.navb .breadcrumb .active {
  color: #071c4d;
  font-weight: bold;
}

.details-checkout-content {
  margin-top: -100px !important;
}

.details-checkout-content .checkout-left {
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border: 0.1px solid rgba(121, 121, 121, 0.651);
  border-radius: 11px;
}

.details-checkout-content .checkout-left h2 {
  font-size: 26px;
}

.details-checkout-content .checkout-left p {
  font-size: 18px;
  color: #6e6e6e;
}

.details-checkout-content .checkout-left h3 {
  font-size: 20px;
}

.details-checkout-content .checkout-left .form-inline .datepicker {
  border-right: none;
}

.details-checkout-content .checkout-left .form-inline .btn-add-now {
  background-color: #071c4d;
  color: #fff;
}

.details-checkout-content .checkout-left .form-inline .btn-add-now:hover {
  background-color: #163377;
  color: #fff;
}

.details-checkout-content .card-right {
  padding: 20px;
  border-radius: 11px;
  background-color: #fff;
  margin-top: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.details-checkout-content .card-right h2 {
  font-size: 22px;
}

.details-checkout-content .card-right table th {
  font-weight: 400;
}

.details-checkout-content .card-right table td {
  font-weight: 300;
  color: #636262;
}

.details-checkout-content .card-right table td .blue {
  color: #071c4d;
}

.details-checkout-content .card-right table td .orange {
  color: #f7ab1e;
}

.details-checkout-content .card-right p {
  font-size: 18px;
  color: #6e6e6e;
  margin-top: 0;
  margin-bottom: 0;
}

.details-checkout-content .card-right .card-payment {
  margin-top: 10px;
}

.details-checkout-content .card-right .card-payment .text {
  float: left;
  margin-left: 10px;
}

.details-checkout-content .card-right .card-payment .text h5 {
  margin-bottom: 0;
  font-size: 18px;
}

.details-checkout-content .card-right .card-payment .text p {
  font-size: 16px;
}

.details-checkout-content .card-right .card-payment img {
  width: 45px;
  float: left;
}

.details-checkout-content .join-container {
  display: block;
  margin-top: -16px;
}

.details-checkout-content .join-container .btn-join-now {
  background-color: orange;
  border-radius: 0;
  color: #fff;
}

.success-content h2 {
  font-size: 40px;
  font-weight: 600;
}

.success-content p {
  font-size: 20px;
  font-weight: 400;
  color: #6e6e6e;
}

.success-content .btn-back-to-home {
  background-color: #f7ab1e;
  color: white;
}

.success-content .btn-back-to-home:hover {
  background-color: #fcbb42;
  color: white;
}
/*# sourceMappingURL=main.css.map */
